TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAMcC2gEAAAAAuXyakAeEn02L%2FLiFk7GghSqyAn8%3DxsKhvBU30fCSIriSCorkPhhPIaXOK4MWiYrHMHa4x5PTN6n9Y3
NEWS_API_KEY=53f44f78870f423593c734b3ca5410c8
YOUTUBE_API_KEY=AIzaSyDkrySeH4IpaUYObmN4icsTJ1Hkhr5ERPQ
REDIS_URL=redis://localhost:6379
RAPIDAPI_KEY=4fefe80663mshd56edca56e306f1p18d792jsn3ee4d3f6f20a
GNEWS_API_KEY=ff2b8518b5cf94719dd5b892cb8e1e50
DATABASE_URL=postgresql://warroom:warroom@localhost:5432/warroom?schema=public
GEMINI_API_KEY=AIzaSyAElUIJEeUFkLj3aHFSudo_wqAv55I5bEA
